/* ----ALL PAGES---- */
html{
    background-color:#f7f7f7;
    color:#3f3f44;
    font-family: 'Noto Sans JP', sans-serif;
}
a{
    text-decoration:none;
}
button{
    background-color:#cceabb;
    color:#3f3f44;
    box-shadow: 5px 5px 2px grey;
    border:none;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5px 5px 5px 5px;
    border-radius: 5%;
}
button:active{
    background-color:#b6cda8;
}
/* --HEADER INFO-- */
.header_link{
    color:#3f3f44;
}
.header_container{
    display:flex;
    justify-content:flex-start;
    align-items: center;
}
.header_obj{
    padding-left:3%;
}
.header_link:hover{
    color:#b6cda8;
}
#logo{
    height: 50px;
    width:auto;
}
#logo:hover{
    opacity:.7;
}
/* ----MAIN PAGE----*/
#main_background{
    background-image:url("/images/Background.gif");
    background-position: center;
    text-align: center;
    color:#f7f7f7;
    height: 90vh;
    width: 98vw;
    align-content:center;
    align-self:center;
    margin:auto;
}
#main_content{
    position:relative;
    top: 50%;
    bottom:50%;
    font-size: 50px;
}
#greeting-container {
  margin-top: 20px;
}

/* ----ABOUT PAGE---- */

.about_container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
}
#images_container{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    margin-left:20px;
    max-width:45%;
    min-width:500px;
}
.social_icon{
    height:30px;
    margin-left:5px;
    margin-right:5px;
    margin-top:10px;
    border-radius:5%;
}
.social_icon:hover{
    opacity: .7;
}
#icon_container{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
#right-txt{
    flex-grow:1;
    padding-left:2%;
    padding-right:2%;
    max-width:45%;
    min-width:500px;
}
#profile_pic{
    border-radius:5%;
    min-width:100px;
    object-fit:cover;
}

/* ---- DESIGN PAGE ---- */
#design_homepage{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
#fake_band{
    background-image:url(/images/record.png);
}
#fake_band2{
    background-image:url(/images/albumCover.png);
}
#fake_band3{
    background-image:url(/images/albumPoster.png);
}
#eas{
    background-image:url(/images/easSweatshirt.png);
}
#eas2012{
    background-image:url(/images/eas2012.png);
}
#traditional{
    background-image:url();
    /*replace once photograph art*/
}
#passionFruit{
    background-image:url(/images/Passionfruit.png);
}
#misc{
    background-image:url(/images/personalShirt.png);
}
.design_img{
    background-size:30vh auto;
    background-repeat:no-repeat;
    background-position: center;
    margin-left:3%;
    height: 30vh;
    width:30vh;
}
.design_img:hover{
    opacity:.5;
}
.design_img:hover > .design_text {
    visibility: visible;
}
.design_text {
    visibility: hidden;
    text-transform:uppercase;
    text-align:center;
    align-self:center;
    font-size:20px;
    text-decoration:bold;
    position:relative;
    top: 10vh;
    color:#f7f7f7;
}

/* After an image is clicked */
.column_disp{
    display:flex;
    flex-direction:column;
}
.row_disp{
    padding-top:2%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.expanded_img{
    background-size:60vh auto;
    background-repeat:no-repeat;
    background-position: center;
    margin-left:3%;
    height: 60vh;
    width: 60vh;
}
.description{
    max-width:30vw;
    min-width:20vw;
    padding-left:3%;
}
.main_desc{
    margin-bottom:3%;
    margin-top:3%;
    max-width: 70vh;
    text-align:center;
}
